a {
    color: white !important;
    text-decoration: none;
}

span a:hover {
    color: lightgray !important;
}

// .navbar {
//     width: 100%;
// }

.spacer {
    flex: 1;
}

mat-toolbar {
    flex-wrap: wrap;
    height: auto;
}