ul {
    list-style-type: none;
    // list-style: circle;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3c5aa6;
    position: fixed;
    top: 0;
    width: 100%;
}

img {
    width: auto;
    height: 15px;
}

li {
    font-weight: bold;
    float: left;
    border-right: 1px solid #bbb;
    padding-left: 75px;
    padding-right: 75px;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #2a75bb;
}