<mat-toolbar color="primary" class="navbar">
    <span>
        <a mat-button routerLink="/home">Home Page</a>
    </span>
    <span>
        <a mat-button routerLink="/resume">Job History</a>
    </span>
    <span>
        <a mat-button routerLink="/skills">Skillset</a>
    </span>
    <span>
        <a mat-button routerLink="/pokedex">Pokemon API</a>
    </span>
    <span>
        <a mat-button routerLink="/forms">Reactive Forms</a>
    </span>
    <span class="spacer"></span>
    <span>
        <a mat-icon-button href="https://github.com/GeorgeInLimbo/digital-resume" target="_blank">
            <img mat-button-icon src="assets/GitHub.svg" alt="See my code on GitHub!" />
        </a>
    </span>
</mat-toolbar>