<mat-toolbar color="primary" class="navbar">
    <span>
        <a mat-icon-button routerLink="/home">
            <mat-icon>home</mat-icon>
        </a>
    </span>
    <span>
        <a mat-button routerLink="/resume">Resume</a>
    </span>
    <span>
        <a mat-button routerLink="/pokedex">Pokedex</a>
    </span>
    <span>
        <a mat-button routerLink="/forms">Forms</a>
    </span>
    <span class="spacer"></span>
    <span>
        <a mat-icon-button href="https://github.com/GeorgeInLimbo/digital-resume" target="_blank">
            <img mat-button-icon src="assets/GitHub.svg" alt="See my code on GitHub!" />
        </a>
    </span>
</mat-toolbar>