.formsPage {
    margin-left: 25%;
    margin-right: 25%;
}

p {
    margin: 10px 50px 25px 50px;
}

ul {
    list-style-type: none;
}

.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

.subtitle {
    font-size: 16px;
    text-align: center;
    padding: 15px 0;
    // margin: 10px 150px 10px 150px;
}

.container1 {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container2 {
    display: flex;
    text-align: center;
    padding: 50px;
    justify-content: center;
}

.container3 {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.box1 {
    flex: 1;
}

.box2 {
    flex: 1;
}

.box3 {
    flex: 1;
}

button {
    margin: 15px 0;
}