<!-- 
    This is an example of a Reactive Form. The benefit of using Reactive Forms is
    the scalability of the observable model. Reactive Forms use data streams and can update sychronously. 
    Each change to the form returns a completely new state, which helps maintain the integrity
    of the model.
-->

<form [formGroup]="myForm">

    <!-- <section style="margin-left: 50px; text-align: center;">
        {{ myForm.value | json }}
    </section> -->

    <div class="formsPage">
        <div class="title">
            What are your Nicknames?
        </div>

        <div class="subtitle">

            This is a demonstration of how Reactive Forms work by streaming instances
            each time their is a change event and to test Angular validations. Please feel free to use fake information.
            Add as many nicknames as you please! Make up some new ones!

        </div>

        <div class="container1">

            <div class="box1">

                <mat-form-field>
                    <mat-label for="name">first name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
            </div>


            <div class="box2">
                <mat-form-field>

                    <mat-label for="email">
                        fake email
                    </mat-label>
                    <input matInput formControlName="email">

                    <mat-error *ngIf="email!.invalid && email!.touched">
                        invalid email
                    </mat-error>

                </mat-form-field>
            </div>

            <div class="box3">
                <mat-form-field>

                    <mat-label for="password">fake password</mat-label>
                    <input matInput type="password" formControlName="password">

                    <mat-hint>
                        <span>8 characters, uppercase, lowercase, number, symbol.</span>
                    </mat-hint>

                    <mat-error *ngIf="password!.invalid && password!.touched" class="has-text-danger">
                        invalid password
                    </mat-error>

                </mat-form-field>
            </div>

        </div>

        <div class="container2">
            <div class="box1" formArrayName="nicknames">
                <div *ngFor="let nick of nicks.controls; let i = index" [formGroupName]="i">

                    <mat-form-field>
                        <mat-label for="newName">
                            nickname
                        </mat-label>
                        <input matInput formControlName="newName">
                        <button mat-icon-button matSuffix color="warn" (click)="deleteNick(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-form-field>

                    <!-- <button mat-raised-button color="warn" (click)="deleteNick(i)">
                        delete
                    </button> -->

                </div>

                <button mat-raised-button color="primary" (click)="addNick()">
                    add a nickname
                </button>

            </div>
        </div>



        <div class="container3">
            <div class="box1">
                <mat-checkbox formControlName="agree" color="primary">
                    <b>Are you sure this information is accurate?</b>
                </mat-checkbox>
            </div>


            <div class="box2">
                <button mat-raised-button [disabled]="myForm.invalid" (click)="displayNicknames()" color="primary">
                    Submit
                </button>

                <div *ngIf="onSubmit">
                    <ul *ngFor="let name of nicknames">
                        <li>
                            Nickname: {{name}}.
                        </li>
                    </ul>
                </div>
                <div *ngIf="!onSubmit">
                    <p style="font-size:12px">Complete the required fields and add a nickname!</p>
                </div>
            </div>
        </div>



        <p class="subtitle">
            The Submit button remains disabled until all validation requirements have been met. The checkbox adds
            another layer of safety from bad data erroneously being added to a database.

        </p>

    </div>
</form>