<section style="margin: 0 50px; text-align: center;">
    <div class="title">Skill Set</div>
    <span style="text-align: center; font-size: 14px;">I have developed my abilities under Senior Engineer, Jake
        Smith.</span>
    <ul class="certs">
        <li class="list" *ngFor="let skill of skills">
            <img class="logo" src="{{skill}}">
        </li>
    </ul>

    <div class="title">Certifications:</div>
    <ul class="certs">
        <li class="list" *ngFor="let cert of certifications">{{cert}}</li>
    </ul><br>
</section>

<div style="font-weight: bold">Two Truths and a Lie:</div>
<hr />
<div>*You'll have to invite me in for an interview to get the correct answer.</div>
<br>
<ol>
    <li>
        I recorded an EP with my high school rock band at a studio that used the mixing board they used to master
        the
        movie "Top Gun." We worked
        with
        the same producer that discovered Limp Bizkit. When I asked him about discovering Fred Durst he told me, "We
        all
        make mistakes,
        George."
    </li>
    <li>
        I've prepared hundreds of tax returns, including a Form 1040 for one of the lead performers in the highly
        acclaimed
        film,
        "Kindergarten Cop."
    </li>
    <li>
        I built a coffee table from Walnut and Maple using traditional joinery, and that table is currently
        furnishing
        the State Capital Building after it was seen displayed at a gallery for a makerspace I belong to called
        Tinkermill. There is now a water ring on that table.
    </li>
</ol>

<p style="font-size: 12px; text-align: right; padding-top: 30px;">
    (References are available upon request)
</p>