<div>Skillsets</div>
<hr />
<ul>
    <li *ngFor="let skill of skills">{{skill}}</li>
</ul>

<div>Certifications</div>
<hr />
<ul>
    <li *ngFor="let cert of certifications">{{cert}}</li>
</ul>

<div>References</div>
<hr />
<ul>
    <li *ngFor="let ref of references">
        {{ref.name}}<br>
        {{ref.relationship}}<br>
        {{ref.contact}}<br><br>

    </li>
</ul>
<!-- 
<div>Other interests</div>
<hr />
<ul>
    <li *ngFor="let interest of interests">{{interest}}</li>
</ul> -->

<div>Two Truths and a Lie</div>
<hr />

<ol>
    <li>
        I recorded a record using the same mixing board they used to do sound for the movie "Top Gun." We worked with
        the same producer that discovered Limp Bizkit. When I asked him about discovering Fred Durst he told me, "We all
        make mistakes,
        George."
        <br><br>
    </li>
    <li>
        I've prepared hundreds of tax returns, including a Form 1040 for one of the lead roles in Kindergarten Cop (it
        wasn't
        Arnold).
        <br><br>
    </li>
    <li>
        I built a coffee table from Walnut and Maple using traditional joinery, and that table is currently furnishing
        the State Capital Building after it was seen displayed at a gallery for a makerspace I belong to called
        Tinkermill.
    </li>
</ol>