<mat-form-field>
    <input matInput #searchBox placeholder="Search for Pokemon" (input)="search(searchBox.value)">
</mat-form-field>

<button mat-raised-button color="primary" routerLink="{{ random }}">
    Random Pokemon
</button>

<!-- <input #searchBox type="text" placeholder="Search for Pokemon" (input)="search(searchBox.value)"> -->
<ul>
    <li *ngFor="let pokemon of filterPokemon$ | async">
        <a routerLink="/pokemon-detail/{{pokemon.id}}">
            {{pokemon.name | uppercase}}
        </a>
    </li>
</ul>

<!-- <button mat-raised-button color="primary" routerLink="{{ random }}">
    Random Pokemon
</button> -->