main {
    margin-left: 25px;
    margin-right: 0;
    padding-top: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    width: 100%;
    margin-left: 0;
    background-color: orange;
}