<section *ngIf="occupation">
    <div class="container-1">
        <div class="box-1">
            <img src="{{occupation.logo}}">
        </div>
        <div class="box-2">
            <b>{{occupation.company}}</b>
            <br>
            {{occupation.title}}
            <br>
            {{occupation.contact}}
            <br>
            {{occupation.startDate}} to {{occupation.endDate}}
        </div>
        <div class="box-3">
            <p>{{occupation.summary}}</p>
        </div>
    </div>

    <div class="additionalInfo">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Responsibilities">
                <ul *ngFor="let duty of occupation.duties">
                    <li>
                        {{duty}}
                    </li>
                </ul>
            </mat-tab>
            <mat-tab label="Supervisors">
                <ul *ngFor="let boss of occupation.supervisors">
                    <li>
                        {{boss}}
                    </li>
                </ul>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>