<div style="text-align: center">

    <div style="font-weight: bold; font-size: larger">
        {{contactInfo.name}}
    </div>
    <aside class=" title-info">
        {{contactInfo.phoneNumber}}
        <br>
        {{contactInfo.email}}
        <br>
        {{contactInfo.location}}
    </aside>

    <br>
    <div>
        <img
            src="https://image1.masterfile.com/getImage/ODU0LTAzODQ1NjM2ZW4uMDAwMDAwMDA=AHnscz/854-03845636en_Masterfile.jpg" />
    </div>

    <br>
    <section>
        <p>{{summary}}</p>
        <p>I have built this website to serve as both a resume for your review and a demonstration of my abilities with
            Angular, Javascript/TypeScript, HTML, and CSS. I invite you to take a few minutes to explore this website
            and
            also to click the link to the GitHub repository to review my code.</p>
        <p>Your consideration is greatly appreciated and I hope to speak with you soon!</p>
    </section>

</div>