<div class="title-container">

    <div class="picbox">
        <img class="selfie" src="assets/selfie (2).jpg">
    </div>

    <div class="titlebox">
        <div>
            <h3 style="font-weight: bold; font-size: 24px;">
                {{contactInfo.name}}
            </h3>
            <aside class=" title-info">
                {{contactInfo.phoneNumber}}
                <br>
                {{contactInfo.email}}
                <br>
                {{contactInfo.location}}
            </aside>
        </div>
    </div>
</div>

<section>
    <p>
        Thank you for visiting my Resume Web Application! This application was built with Angular to
        help showcase my abilities in front-end web development.
    </p>
    <p>
        By browsing the application, and by following the link to its GitHub repository,
        you
        will find examples of several
        features used within a component-based framework. This includes feature components,
        data-binding, use of
        Angular's routing module, pipes, services, and more.
        You'll see that I've included a reactive forms component, which includes examples of validations. Also, to
        demonstrate my knowledge of
        asynchronous
        programming I've included a PokeDex application.
    </p>
    <p>
        Please take some time to browse my web application, review my job history, and to review the
        code itself by clicking the <a href="https://github.com/GeorgeInLimbo/digital-resume" target:_blank>GitHub</a>
        link in the top, right-hand corner. I hope to have the
        opportunity to speak
        with you about how I can continue to build on a strong foundation of technical knowledge and help
        contribute positively to your team's work culture. Any feedback that you are willing to provide me will be
        appreciated.
    </p>

</section>