.selfie {
    max-width: 250px;
    max-height: 250px;
    border: 1px solid black;
}

p {
    margin-right: 50px;
    margin-left: 50px;
}

.title-container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.titlebox {
    flex: 2 2 150px;
    text-align: center;
    padding-top: 15px;
    // display: inline-flex;
    // border: 1px solid black;

}

.picbox {
    display: flex;
    justify-content: center;
    flex: 2 2 150px;
    // padding: 5px;
    // border: 1px solid black;
}

aside {
    font-size: 19px;
}

section {
    // margin: 5%;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 5px
}