.selfie {
    display: block;
    margin-left: auto;
    max-width: 160px;
    max-height: 160px;
    width: auto;
    height: auto;
    padding: 2px;
    border: 2px solid black;
}

p {
    margin-right: 50px
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlebox {
    flex: 1;
    padding: 30px;
}

.picbox {
    flex: 1;
    padding: 30px;
}

aside {
    font-size: 17px;
}

section {
    margin: 0 150px;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 15px
}